<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Notbot</title>
    <link rel="stylesheet" href="/static/landing.css"/>
  </head>
  <body>
    <div id="root">
      <div id="welcome">
        <div class="inner">
          <h1>this is Notbot, the bot</h1>
          <p>Hello anon, try <a href="/login">logging in</a></p>
        </div>
      </div>
      <div id="footer">
        This is an instance of <a href="https://code.hackerspace.pl/ar/notbot">notbot</a>, a Matrix chatbot performing
        various tasks and services. You can find the official documentation <a href="https://docs.rs/notbot">here</a>.</br>
        If you have any questions, comments, or suggestions, feel free to contact the author, either on matrix at <a href="https://matrix.to/#/@ar:is-a.cat">@ar:is-a.cat</a>, fedi at <a href="https://is-a.cat/@ar">@ar@is-a.cat</a>, or email ar@is-a.cat.
      </div>
    </div>
  </body>
</html>