{%- for (metric, values) in self.normalize() -%}
    {%- if values.is_empty() -%}
        {%- continue -%}
    {%- endif -%}
    {%- if let Some(name) = metric.get("name") -%}
        {%- match name.as_str() -%}
            {%- when "ambient-dcr01" -%}
                {%- if let Some(propname) = metric.get("property") -%}
                    {%- match propname.as_str() -%}
                        {%- when "degree" -%}
                            temperature: {% for value in values -%} {{ value.1 }}° {% endfor -%}
                        {%- endwhen -%}
                        {%- when "humidity" -%}
                            humidity: {% for value in values -%} {{ value.1 }}% {% endfor -%}
                        {%- endwhen -%}
                        {%- when _ -%}{%- endwhen -%}
                    {%- endmatch -%}
                {%- endif -%}
            {%- endwhen -%}
            {%- when "ac" -%}
                {%- for value in values -%}
                    {%- match value.1 -%}
                        {%- when 1.0 -%}
                            external door lock web interface should be up 😸
                        {%- endwhen -%}
                        {%- when 0.0 -%}
                            external door lock web interface is probably down 😿 if noone's present, and you want to enter, ask someone holding a physical key for help: https://wiki.hackerspace.pl/members:freemasonry:klucze
                        {%- endwhen -%}
                        {%- when _ -%}{%- endwhen -%}
                    {%- endmatch -%}
                {%- endfor -%}
            {%- endwhen -%}
            {%- when _ -%}
                query results:
                {%- for (key, value) in metric.iter() -%}
                    {{ " " }}{{ key }}: {{ value }}{{ " " }}
                {%- endfor -%}
                values: {{ "" }}
                {%- for value in values -%}
                    {{ value.1 }}{{ " " }}
                {%- endfor -%}
            {%- endwhen -%}
        {%- endmatch -%}
    {%- endif -%}
{%- endfor -%}
